[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jwt = "*"
requests = "*"
pyjwt = "*"
urllib3 = "*"
pandas = "*"
confluent-kafka = "*"
pyspark = "*"
pip = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
